<template>

  <div class="au-animate" anim-enter="transition.bounceLeftIn" anim-leave="transition.bounceRightOut">

    <div class="ux-grid ux-grid--remove-padding">
      <!-- padding -->
      <div class="side-bar ux-grid-cell ux-grid-cell--md-1 ux-grid-cell--lg-2 ux-grid-cell--xl-3" if.bind="uxResponsive.md || uxResponsive.lg || uxResponsive.xl">
      </div>
      <!-- padding -->

      <!-- main window -->
      <div class="ux-grid-cell ux-grid-cell--sm-12 ux-grid-cell--md-10 ux-grid-cell--lg-8 ux-grid-cell--xl-6">

        <!-- main content -->
        <slot name="main"></slot>
        <!-- main content -->

      </div>
      <!-- main window -->

      <!-- padding -->
      <div class="side-bar ux-grid-cell ux-grid-cell--md-1 ux-grid-cell--lg-2 ux-grid-cell--xl-3" if.bind="uxResponsive.md || uxResponsive.lg || uxResponsive.xl">
      </div>
      <!-- padding -->
    </div>

  </div>

</template>
